.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.p {
    color: #001a23;
}

.card {
    text-align: center;
    color: white;
    width: 350px;
    height: auto;
    border-radius: 15px;
    background-color: #001a23;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.card label {
    margin-top: 10px;
    display: block;
    text-align: left;
}


.boton-login {
    margin-top: 20px;
    
    border: 1px solid #7a9e7e;
    color: white;
}

.boton-login:hover{
    box-shadow: 0 0 13px rgba(255, 255, 255, 0.483);
}

.card-title{
    font-size: 30px;
    
}

.logo{
    width: 20%;
}

.form_main {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 238, 238);
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.327);
    min-height: 50vh;

  }
  
  .heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 15px 0 30px 0;
  }
  
  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputIcon {
    position: absolute;
    left: 10px;
  }
  
  .inputField {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 2px solid #5741b0;
  }
  
  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }
  
  #button {
    position: relative;
    width: 100%;
    border: 2px solid #e94e1a;
    background-color: #e94e1a;
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
  }
  
  #button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
  }
  
  #button:hover::after {
    transform: translateX(600px);
    transition-duration: .5s;
  }
  
  .signupContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .signupContainer p {
    font-size: .9em;
    font-weight: 500;
    color: black;
  }
  
  .signupContainer a {
    font-size: .7em;
    font-weight: 500;
    background-color: #2e2e2e;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
  }