<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>
        <strong>
          Panel de Administrador
        </strong>
      </h2>
    </ion-title>
    <ion-buttons align="center">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button shape="round" href="agregarAgremiado"><ion-icon name="person-add"></ion-icon>&nbsp; Agregar Agremiado</ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" href="verAgremiado"><ion-icon name="eye"></ion-icon>&nbsp; Ver Agremiado</ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" href="Solicitudes"><ion-icon name="folder"></ion-icon>&nbsp; Ver Solicitudes</ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round"><ion-icon name="log-out"></ion-icon>&nbsp; Cerrar Sesión</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content align="center">
  <br><br>
  <img class="logo" src="assets/images/logo.png" style="height: 500px; width: 500px; border-radius: 40px;" alt="...">
</ion-content>