<div class="card" style="border: 2px solid #ccc;">
  <div class="card-header">
    <h5 class="card-title">Formulario de Solicitud</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="Form_solicitud" (ngSubmit)="guardar()">
      <div class="row">
        <div class="col">
          <label for="file" class="form-label">Archivo</label>
          <input type="file" class="form-control" id="file" (change)="onFileSelected($event)"
            accept=".pdf, .doc, .docx, .jpg, .png, .jpeg">
        </div>
        <div class="col">
          <!-- New input field for NUE -->
          <label for="NUE" class="form-label">NUE</label>
          <input type="text" class="form-control" id="NUE" formControlName="NUE">
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Agregar Solicitud</button>
    </form>
  </div>
</div>