<ion-header>
    <ion-toolbar>
        <ion-title>
            <h2>
                <strong>
                    Agremiados de la delegación A12345
                </strong>
            </h2>
        </ion-title>
        <ion-buttons>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button href="homeAdmin" shape="round"
                            style="background-color: #04558a; border-radius: 25px">
                            &nbsp;<ion-icon name="arrow-back"></ion-icon>
                            &nbsp;Regresar al panel de administrador
                        </ion-button>&nbsp;
                        <ion-button shape="round" style="background-color: #04558a; border-radius: 25px"
                            (click)="generarPDF()">
                            &nbsp;<ion-icon name="print"></ion-icon>
                            &nbsp; Imprimir Lista
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div #content>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><strong>Apellido Paterno</strong></th>
                        <th><strong>Apellido Materno</strong></th>
                        <th><strong>Nombre(s)</strong></th>
                        <th><strong>Sexo</strong></th>
                        <th><strong>NUP</strong></th>
                        <th><strong>NUE</strong></th>
                        <th><strong>RFC</strong></th>
                        <th><strong>NSS</strong></th>
                        <th><strong>Fecha de Nacimiento</strong></th>
                        <th><strong>Teléfono</strong></th>
                        <th><strong>Cuota</strong></th>
                        <th><strong>Acciones</strong></th>
                    </tr>
                </thead>
                <tbody *ngFor="let agre of agremiados">
                    <!-- Los datos se llenarán dinámicamente aquí -->
                    <tr>
                        <td>{{agre.a_paterno}}</td>
                        <td>{{agre.a_materno}}</td>
                        <td>{{agre.nombre}}</td>
                        <td>{{agre.sexo}}</td>
                        <td>{{agre.NUP}}</td>
                        <td>{{agre.NUE}}</td>
                        <td>{{agre.RFC}}</td>
                        <td>{{agre.NSS}}</td>
                        <td>{{agre.fecha_nacimiento}}</td>
                        <td>{{agre.telefono}}</td>
                        <td>{{agre.cuota}}</td>
                        <td>
                            <ion-button (click)="editaragremiado(agre.id)" shape="round" style="background-color: #04558a; border-radius: 25px">
                                <ion-icon name="open"></ion-icon>
                            </ion-button>
                            <ion-button (click)="eliminarAgremiado(agre.id)" shape="round" style="background-color: rgb(138, 4, 4), 40, 4; border-radius: 25px">
                                <ion-icon name="trash"></ion-icon>
                            </ion-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ion-content>

<!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Agremiados
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button color="dark" expand="block"  shape="round">
            <ion-icon slot="start" name="print">
            </ion-icon>
            Imprimir tabla
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="dark" expand="block" shape="round" (click)="openNewAgremiado()">
            <ion-icon slot="start" name="add">
            </ion-icon>
            Nuevo agremiado
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <br>
  <ion-grid>
      <ion-row>
          <ion-col style="background-color: #bfcdd6;"><strong>Apellido Paterno</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>Apellido Materno</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>Nombre(s)</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>Sexo</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>NUP</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>NUE</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>RFC</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>NSS</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>Fecha de Nacimiento</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>Teléfono</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>Cuota</strong></ion-col>
          <ion-col style="background-color: #bfcdd6;"><strong>Acciones</strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let a of agremiados">
          <ion-col>{{a.a_paterno}}</ion-col>
          <ion-col>{{a.a_materno}}</ion-col>
          <ion-col>{{a.nombre}}</ion-col>
          <ion-col>{{a.sexo}}</ion-col>
          <ion-col>{{a.NUP}}</ion-col>
          <ion-col>{{a.NUE}}</ion-col>
          <ion-col>{{a.RFC}}</ion-col>
          <ion-col>{{a.NSS}}</ion-col>
          <ion-col>{{a.fecha_nacimiento}}</ion-col>
          <ion-col>{{a.telefono}}</ion-col>
          <ion-col>{{a.cuota}}</ion-col>
          <ion-col>edit</ion-col>
      </ion-row>
  </ion-grid>
  </ion-content> -->